@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fff;
  --color-invert: #121212;
  --color-secondary: #9a9a9a;
  --background: #121212;
  color:var(--color-primary);
}
